.MyOrders {
    margin-top: 75px;
    margin-bottom: 20px;
}

.MyOrders h4 {
    text-align: center;
    /* margin: 10px 0px; */
}

.MyOrdersMain {
    border-radius: 5px;
    background: white;
    margin: auto;
    width: 100%;
    padding: 10px 0px;
}

.MyOrdersItems {
    margin: 1% 1%;
}

.MyOrdersItems a {
    text-decoration: none;
    outline-style: none;
    color: white;
}

.MyOrdersItems button {
    margin-left: 5px;
}

.AddNew {
    display: flex;
}

.AddNew span {
    margin-top: 2px;
}

.MyOrdersTable {
    position: relative;
}

.MyOrdersTableTitle {
    height: 45px;
    width: 185px;
    background: lime;
    text-align: center;
    position: absolute;
    border-radius: 3px;
    right: 0;
    top: -30px;
    box-shadow: 0px 3px 6px 0px rgba(109, 108, 108, 0.2);
    color: white;
    display: none;
}

.TitleValue {
    position: absolute;
    top: 10px;
    left: 15px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.MyOrdersTableItems {
    display: flex;
    flex-flow: column;
}

.MyOrdersTableDesktopOnly {
    display: none;
}

.TableHeader {
    display: flex;
    flex-flow: row;
    text-align: center;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(225, 225, 225);
    font-weight: bold;
    color: rgb(154, 116, 190);
    background: rgb(250, 250, 250);
}

.TableSingleItem {
    display: flex;
    flex-flow: row;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(225, 225, 225);
    transition: .5s;
}

.TableSingleItem:hover {
    cursor: pointer;
    background:whitesmoke;
}

.DividerH {
    margin: 0px 6px;
}

.DividerV {
    margin: 7px 0px;
}

.TableSingleItem1 {
    width: 5%;
}

.TableSingleItem2 {
    width: 13%;
}

.TableSingleItem3 {
    width: 17%;
}

.TableSingleItem4 {
    width: 10%;
}

.TableSingleItem5 {
    width: 13%;
}

.TableSingleItem6 {
    width: 6%;
}

.TableSingleRowItem1 {
    width: 5%;
    text-align: center;
    font-weight: bold;
    color: goldenrod;
}

.TableSingleRowItem2 {
    width: 13%;
    /* text-align: justify; */
    /* text-justify: inter-word; */
}

.TableSingleRowItem3 {
    width: 17%;
    text-align: center;
}

.TableSingleRowItem4 {
    width: 10%;
    text-align: center;
}

.TableSingleRowItem5 {
    width: 13%;
    /* text-align: center; */
    display: flex;
    flex-flow: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.TableSingleRowItem6 {
    width: 6%;
    text-align: center;
}

.TableSingleRowItem5 button {
    height: 30px;
    width: 30px;
    padding: 0px 7px;
}

.TableSingleRowItemForMobileOnly {
    display: block;
}

.TableSingleRowItemColumnForMobile {
    display: flex;
    flex-flow: column;
    margin: 5px 10px;
    padding: 15px 10px;
    /* border-bottom: 1px solid rgb(225, 225, 225); */
    box-shadow: 0px 2px 4px 0px rgba(109, 108, 108, 0.2);
    border-radius: 3px;
}

.TableSingleRowItemForMobile {
    display: flex;
    flex-flow: row;
}

.TableSingleRowItemForMobileLabel {
    width: 25%;
    font-weight: bold;
    color: rgb(154, 116, 190);
}

.TableSingleRowItemForMobileValue {
    width: 73%;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-flow: row;
    /* justify-content: space-around; */
}

.TableSingleRowItemColumnForMobile button {
    height: 35px;
    width: 35px;
    padding: 0px 10px;
    margin-right: 25px;
}

.ViewAdvertise {
    padding: 10px 10px;
}

.ViewAdvertiseHeader {
    display: flex;
    flex-flow: row;
}

.ViewAdvertiseHeader i {
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.ViewAdvertiseHeader i:hover {
    color: goldenrod;
}

.ViewAdvertiseHeaderItem1 {
    width: 95%;
}

.ViewAdvertiseHeaderItem2 {
    width: 5%;
}

.ViewAdvertiseMain {
    height: 85vh;
    overflow-y: scroll;
}

.ViewAdvertiseMainRow1 {
    margin: 10px 5px;
}

.ViewAdvertiseMainRow2 {
    margin: 10px 5px;
}

.ViewAdvertiseMainRow3 {
    margin: 10px 5px;
}

.ViewAdvertiseMainRow1 h6 {
    background: #4dabf7;
    padding: 8px 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
}

.ViewAdvertiseMainRow2 h6 {
    background: rgb(170, 235, 73);
    padding: 8px 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
}

.ViewAdvertiseMainRow3 h6 {
    background: tomato;
    padding: 8px 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
}

.ViewAdvertiseRowItemLabel {
    width: 25%;
    font-weight: bold;
    color: rgb(169, 95, 238);
}

.ViewAdvertiseRowItemValue {
    width: 73%;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-flow: row;
    /* justify-content: space-around; */
}

@media (min-width: 763px) {
    .MyOrders {
        margin-left: 4%;
    }
    .MyOrdersMain {
        width: 95%;
    }
    .MyOrdersTable {
        margin: 15px 10px;
        /* background: whitesmoke; */
        box-shadow: 0px 2px 4px 0px rgba(109, 108, 108, 0.2);
        border-radius: 3px;
        position: relative;
    }
    .MyOrdersTableDesktopOnly {
        display: block;
    }
    .TableSingleRowItemForMobileOnly {
        display: none;
    }
    .MyOrdersTableTitle {
        display: block;
    }
}