.Slider {
    padding: 20px 0px;
    z-index: 0;
    margin: 0% 2%;
}

.AppSlide {
    position: relative;
    text-align: center;
    color: yellow;
    justify-content: center;
    margin: 0px 7px;
}

.AppSlide img {
    border-radius: 15px;
    height: 200px;
    width: 150px;
    box-shadow: 0px 2px 2px -3px rgba(48, 46, 46, 0.2), 0px 2px 2px 0px rgba(44, 42, 42, 0.14), 0px 2px 1px 0px rgba(49, 47, 47, 0.12);
}

.AppSlide img:hover {
    opacity: 0.8;
}

.Head {
    margin: 20px 0px;
    text-align: center;
}

.CenteredItem h3 {
    width: 90%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
    .AppSlide img {
        height: 300px;
        width: 200px;
    }
    .Head {
        margin: 25px 0px;
    }
}